@charset "ISO-8859-1";

.uk-navbar-container {
    background: rgb(32,32,32) !important;
    background: linear-gradient(0deg, rgba(32,32,32,1) 0%, rgba(32,32,32,1) 0%, rgba(40,40,40,1) 50%, rgba(43,43,43,1) 100%) !important; 
}
.uk-navbar-nav > li > a {
    color: #fff !important; 
}
.uk-navbar-nav > li > a:hover {
    color: #ffcc00 !important; 
}
.cont_loguito{
    width: 50px;
    margin: 20px 0px 20px 20px;
}
.cont_main{
    margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, .08);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);;
    width: 70%;
    font-size: 30px;
    font-family: "Zain", sans-serif;
}
.cont_favs{
	display: flex;
    justify-content: end;
    padding-right: 50px;
    padding-top: 20px;
}
.cont_titulo{
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 30px;
}
.uk-h2{
    margin: 0;
}
.uk-h3{
    margin: 0;
}
.cont_info{
    padding-left: 50px;
}

.cont_reviews{
    padding-left: 50px;
    width: 700px;
}
.cont_creareview{
    padding: 50px;
}
.cont_boton{
    display: flex;
    justify-content: end;
    padding: 50px 50px;
}
.cont_mapa{
	width: 800px;
    margin: 0 auto;
}

/* Estilo para el icono de cofiguracion */
.icon-config {	    
	transition: color 0.3s ease, transform 0.3s ease !important;
}
        
.icon-config:hover {
	transform: scale(1.3);
}

/* Estilo para el icono de cerrar sesion */
.icon-logout i {
	transition: color 0.3s ease, transform 0.3s ease;
}		
		
.icon-logout:hover i {
	color: rgb(255,122,122);
    color: linear-gradient(90deg, rgba(255,122,122,1) 0%, rgba(255,89,89,1) 26%, rgba(255,70,70,1) 57%, rgba(255,0,0,1) 100%);; /* Color al pasar el cursor sobre el icono de cerrar sesion */
	transform: scale(1.5); /* Agrandar el icono de cerrar sesion */
}

#map {
    height: 500px; /*Ajusta la altura del mapa según sea necesario */
    width: 100%;
}